<!-- Contact section -->
<section class="contact-section" id="contact">
  <div class="container">
    <div class="contact-form-container">
      <div class="contact-head">
        <h1 class="contact-head__header">Зв'яжіться з нами</h1>
        <h2 class="contact-head__description">
          Залиште номер телефону, і ми зв'яжемося з вами на протязі 5 хвилин.
        </h2>
      </div>
      <form action="">
        <div class="form-container">
          <input
            class="input-name"
            type="text"
            id="fname"
            name="fname"
            placeholder="Ім’я"
          />
          <input
            placeholder="E-mail"
            type="email"
            id="email"
            name="email"
            class="input-email"
            placeholder="Enter your e-mail"
          />
        </div>
        <div class="message-container">
          <textarea
            placeholder="Ваше повідомлення.."
            name="comment"
            class="form-message"
          ></textarea>
          <div class="btn-container">
            <button>
              <span class="btn-description">Надіслати</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
