<section class="portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio header -->
    <article class="portfolio__header">
      <div>
        <h2>портфоліо</h2>
        <h1>Наші роботи</h1>
      </div>
    </article>
  </div>
  <!-- Swoper -->
  <div class="swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-description container">
            <h1>Назва проекта</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              condimentum eros arcu, at aliquet tortor vestibulum ut. Quisque
              sed libero nec nulla pulvinar pharetra. Aliquam porttitor justo
              lorem, at rhoncus nulla condimentum vitae. Cras vitae aliquet
              quam. Orci varius natoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. Phasellus id quam nulla.
            </p>
            <span>
              Термін ремонта:
              <p>&nbsp;21 день</p>
            </span>
            <span>
              Площа:
              <p>&nbsp;81 м2</p>
            </span>
          </div>
          <div
            class="row d-flex justify-content-sm-end justify-content-center pr-3"
          >
            <div class="list-group" id="list-tab" role="tablist">
              <a
                class="active"
                id="list-home-list"
                data-toggle="list"
                href="#list-home"
                role="tab"
                aria-controls="home"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
              <a
                class=""
                id="list-profile-list"
                data-toggle="list"
                href="#list-profile"
                role="tab"
                aria-controls="profile"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
              <a
                class=""
                id="list-messages-list"
                data-toggle="list"
                href="#list-messages"
                role="tab"
                aria-controls="messages"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
              <a
                class=""
                id="list-settings-list"
                data-toggle="list"
                href="#list-settings"
                role="tab"
                aria-controls="settings"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
            </div>
            <div class="tab-content-container">
              <div class="tab-content" id="nav-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="list-home"
                  role="tabpanel"
                  aria-labelledby="list-home-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
                <div
                  class="tab-pane fade"
                  id="list-profile"
                  role="tabpanel"
                  aria-labelledby="list-profile-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
                <div
                  class="tab-pane fade"
                  id="list-messages"
                  role="tabpanel"
                  aria-labelledby="list-messages-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
                <div
                  class="tab-pane fade"
                  id="list-settings"
                  role="tabpanel"
                  aria-labelledby="list-settings-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-description container">
            <h1>Назва проекта</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              condimentum eros arcu, at aliquet tortor vestibulum ut. Quisque
              sed libero nec nulla pulvinar pharetra. Aliquam porttitor justo
              lorem, at rhoncus nulla condimentum vitae. Cras vitae aliquet
              quam. Orci varius natoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. Phasellus id quam nulla.
            </p>
            <span>
              Термін ремонта:
              <p>&nbsp;21 день</p>
            </span>
            <span>
              Площа:
              <p>&nbsp;81 м2</p>
            </span>
          </div>

          <div
            class="row d-flex justify-content-sm-end justify-content-center pr-3"
          >
            <div class="list-group" id="list-tab" role="tablist">
              <a
                class="active"
                id="list-home-list"
                data-toggle="list"
                href="#list-home1"
                role="tab"
                aria-controls="home"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
              <a
                class=""
                id="list-profile-list"
                data-toggle="list"
                href="#list-profile1"
                role="tab"
                aria-controls="profile"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
              <a
                class=""
                id="list-messages-list"
                data-toggle="list"
                href="#list-messages1"
                role="tab"
                aria-controls="messages"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
              <a
                class=""
                id="list-settings-list"
                data-toggle="list"
                href="#list-settings1"
                role="tab"
                aria-controls="settings"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
            </div>
            <div class="tab-content-container">
              <div class="tab-content" id="nav-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="list-home1"
                  role="tabpanel"
                  aria-labelledby="list-home-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
                <div
                  class="tab-pane fade"
                  id="list-profile1"
                  role="tabpanel"
                  aria-labelledby="list-profile-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
                <div
                  class="tab-pane fade"
                  id="list-messages1"
                  role="tabpanel"
                  aria-labelledby="list-messages-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
                <div
                  class="tab-pane fade"
                  id="list-settings1"
                  role="tabpanel"
                  aria-labelledby="list-settings-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-description container">
            <h1>Назва проекта</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              condimentum eros arcu, at aliquet tortor vestibulum ut. Quisque
              sed libero nec nulla pulvinar pharetra. Aliquam porttitor justo
              lorem, at rhoncus nulla condimentum vitae. Cras vitae aliquet
              quam. Orci varius natoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. Phasellus id quam nulla.
            </p>
            <span>
              Термін ремонта:
              <p>&nbsp;21 день</p>
            </span>
            <span>
              Площа:
              <p>&nbsp;81 м2</p>
            </span>
          </div>

          <div
            class="row d-flex justify-content-sm-end justify-content-center pr-3"
          >
            <div class="list-group" id="list-tab" role="tablist">
              <a
                class="active"
                id="list-home-list"
                data-toggle="list"
                href="#list-home2"
                role="tab"
                aria-controls="home"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
              <a
                class=""
                id="list-profile-list"
                data-toggle="list"
                href="#list-profile2"
                role="tab"
                aria-controls="profile"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
              <a
                class=""
                id="list-messages-list"
                data-toggle="list"
                href="#list-messages2"
                role="tab"
                aria-controls="messages"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
              <a
                class=""
                id="list-settings-list"
                data-toggle="list"
                href="#list-settings2"
                role="tab"
                aria-controls="settings"
                ><img
                  class="swiper-image-small"
                  src="./assets/images/portfolio/img-slide-first.png"
                  alt=""
              /></a>
            </div>
            <div class="tab-content-container">
              <div class="tab-content" id="nav-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="list-home2"
                  role="tabpanel"
                  aria-labelledby="list-home-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
                <div
                  class="tab-pane fade"
                  id="list-profile2"
                  role="tabpanel"
                  aria-labelledby="list-profile-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
                <div
                  class="tab-pane fade"
                  id="list-messages2"
                  role="tabpanel"
                  aria-labelledby="list-messages-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
                <div
                  class="tab-pane fade"
                  id="list-settings2"
                  role="tabpanel"
                  aria-labelledby="list-settings-list"
                >
                  <img
                    class="swiper-image-big"
                    src="./assets/images/portfolio/img-slide-first.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-controll-container">
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
